.idea
.vscode
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.venv
*.png
*.jpg
*.pyc
/src/mflux.egg-info/dependency_links.txt
*.tar.gz
*.whl
/src/mflux.egg-info/PKG-INFO
/src/mflux.egg-info/requires.txt
/src/mflux.egg-info/SOURCES.txt
/src/mflux.egg-info/top_level.txt
